@charset "Utf-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Roxo: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

main > section#login {
    background-color: white;
    margin: auto;
    width: 250px;
    height: 515px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    transition: 0.3s;
}

main > section#login > div#imagem {
    display: block;
    height: 200px;
    background: #5f2c82 url('../imagens/metal.jpg') no-repeat;
    background-size: cover;
    background-position: bottom left;
    border-radius: 20px 20px 0px 0px;
}

main > #login > #formulario {
    text-align: center;
    padding: 10px;
}

#formulario > h1 {
    font-size: 1.5em;
    margin: 5px;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.78em;
    text-align: left;
    line-height: 1.4em;
    
}

#formulario > form > p.caixa_texto {
    background-color: #5f2c82;
    height: 2.5em;
    margin: 5px auto;
    border-radius: 8px;
    text-align: right;
}

form > p > span.material-symbols-outlined {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

form > p.caixa_texto > input {
    height: 100%;
    width: calc(100% - 45px);
    border: 2px solid #5f2c82;
    border-radius: 8px;
    padding: 10px;
    background-color: #94CFCD;
    transform: translateY(-10px);
    font-size: 1em;
}

form > p#entrar > input {
    background-color: #53AAA7;
    width: 100%;
    height: 2.5em;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    border: 0px;
}

form > p#entrar > input:hover {
    background-color: #2D6462;
    cursor: pointer;
}

form > a {
    display: block;
    text-decoration: none;
    color: #2D6462;
    border: 2px solid #94CFCD;
    border-radius: 8px;
    padding: 10px;
    margin: 5px auto;
    font-size: 1em;
}

form > a > span.material-symbols-outlined {
    font-size: 0.8em;
}

form > a:hover {
    background-color: #6CD3CF;
}

